/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 16px;
}

* {
  scroll-behavior: smooth;
}

section {
  overflow: hidden !important;
}

h1 {
  font-size: 64px;
  line-height: 1;
}

h2 {
  font-size: 60px;
  line-height: 1;
}

.lh-100 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fs-75 {
  font-size: 1rem;
}

.fs-100 {
  font-size: 1.1rem;
}

.fs-125 {
  font-size: 1.4rem;
}

.fs-150 {
  font-size: 1.6rem;
}

.fs-175 {
  font-size: 1.8rem;
}

.fs-200 {
  font-size: 2rem;
}

.fs-225 {
  font-size: 2.4rem;
}

.fs-250 {
  font-size: 2.6rem;
}

.btn {
  border-radius: 35px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 15px;
}

.btn-primary {
  background: transparent !important;
  color: #fff;
  border: 2px solid #fff !important;
  transition: all ease .25s;
  border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #919191 !important;
  color: #fff !important;
  border: 2px solid #919191 !important;
  transition: all ease .25s;
  box-shadow: none !important;
}


.black {
  color: #000000;
}


/* HEADER  */
.menu {
  background-color: transparent;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header-logo {
  background-image: url("../images/logo.svg");
  width: 150px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  transition: .3s;
}

.header-color-logo {
  background-image: url("../images/logo-sm.svg");
  height: 60px;
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 0.8rem 0rem;
}

.nav-link {
  font-size: 18px;
  font-weight: 700;
  color: #000 !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  padding-bottom: 0px;
  position: relative;
  transition: linear 0.2s;
  padding: 8px 15px !important;
}

.nav-link::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0px;
  background-color: #000;
  bottom: 0;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transition: linear .3s;
  width: 80%;
  opacity: 1;
}

.active .nav-link::before {
  transform: scaleX(1);
  transition: linear .3s;
  width: 80%;
  opacity: 1;
}

/* Bs nav para el menú mobile */
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: #000 !important;
  transition: .3s;
}

.bsnav-mobile .navbar {
  left: 0 !important;
  transform: translate3d(-300px, 0, 0) !important;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
}


.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* MAIN */

.main-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/main-bg-deco.svg");
  background-size: auto;
  background-position: left;
  background-position-x: 18%;
  background-repeat: no-repeat;
}

.left-deco {
  border-left: 2px solid;
  padding: 15px 0px 15px 30px;
}

.left-deco.white-deco {
  border-color: white;
}

.left-deco.black-deco {
  border-color: black;
}

.line-deco-strong {
  width: 150px;
  height: 5px;
}

.line-deco-strong.black-line {
  background: black;
}

.line-deco-strong.white-line {
  background: white;
}

.branding {
  background: #262626;
  padding: 100px 0px 175px 0px;
  position: relative;
  z-index: 5;
}

.branding .bg-move {
  padding: 100px 0px 175px 0px;
  position: absolute;
  top: 0;
  z-index: -1;
  bottom: 0;
  width: 100%;
  background-image: url("../images/dr-bg-deco.svg");
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
}

.line-deco {
  width: 45%;
  height: 2px;
  background: white;
}

.multiplataforma {
  padding: 150px 0px 50px 0px;
  background: url("../images/de-repente-bg-deco.svg"),
    linear-gradient(to bottom,
      #262626 0% 55%,
      white 55% 100%);
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.mt-100 {
  margin-top: 100px;
}

.mobile {
  padding: 0px 0 50px 0px;
  display: flex;
  align-items: center;
  background-image: url("../images/de-repente-sombra.svg");
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* CAROUSEL */
.owl-nav .owl-next,
.owl-nav .owl-prev {
  border: 1px solid #000 !important;
  background-color: #000 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  color: #fff !important;
  margin: 0px 15px;
  transition: .3s;
}

.owl-nav {
      display: flex;
      justify-content: center;
      margin-top: 70px;
}
.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
  border: 1px solid rgb(56, 56, 56);
  background-color: rgb(56, 56, 56) !important;
  color: white !important;
}

.owl-item>div {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease;
}

.owl-item.center>div {
  cursor: auto;
  margin: 0;
}

.owl-item:not(.center)>div:hover {
  opacity: .75;
}

.owl-carousel .owl-stage-outer {
  overflow-y: visible !important;
  min-height: 850px;
}

.owl-item.active.center .hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 104%;
  left: 5%;
  height: 20px;
  width: 100%;
  padding: 15px;
  opacity: .5;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 60%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 60%);
}


.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 20px;
  width: 100%;
  padding: 15px;
  opacity: .5;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 60%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 60%);
}

/* CONTACTO */
.contacto {
  background-color: #262626;
  padding: 120px 0px;
}

.contacto p,
.contacto p a {
  display: flex;
  color: #fff;
}

.contacto p a span,
.contacto p span {
  margin-right: 10px;
  transition: .3s;
}

.contacto a:hover {
  text-decoration: none;
}

.contacto p:hover span {
  transform: scale(1.2);
}

.contacto form input,
.contacto form textarea {
  font-weight: 300;
  font-size: 16px;
  color: #262626;
  border-radius: 0;
}

.contacto label {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.contacto .form-control:not(textarea) {
  height: calc(1.5em + 1rem + 2px);
}

.contacto .form-control:focus {
  border-color: #919191 !important;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 15%);
}

/* FOOTER */
footer {
  background: #1D1D1D;
  padding: 50px 0px 100px 0px;
  position: relative;
}

footer a {
  color: #fff !important;
}

.social-media a {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.social-media a i {
  color: #1D1D1D;
}

.social-media a:hover {
  background-color: #919191;
  text-decoration: none;
  transform: scale(1.1);
}

.social-media a:hover i {
  color: #fff;
}

.copyright {
  background-color: #1D1D1D;
  border-top: 1px solid rgba(255, 255, 255, 0.144);
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 1360px) {
  .branding {
    padding: 100px 0px 60px 0px;
  }

  .owl-carousel .owl-stage-outer {
    min-height: 850px;
  }
}

@media (max-width: 1024px) {


  .multiplataforma {
    padding: 75px 0px 50px 0px;
    background: url(../images/de-repente-bg-deco.svg),
      linear-gradient(to bottom, #262626 0% 60%, white 60% 100%);
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mt-100 {
    margin-top: 70px;
  }

  .owl-carousel .owl-stage-outer {
    min-height: 750px;
  }
}

@media (max-width: 768px) {
    .header-logo {
      background-image: url("../images/logo-sm.svg");
      width: 150px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      transition: .3s;
    }

    .header-color-logo {
      background-image: url("../images/logo-sm.svg");
    }
  .nav-link {
    padding: 25px 0px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  .mt-100 {
    margin-top: 50px;
  }

  .owl-carousel .owl-stage-outer {
    min-height: 550px;
  }

  .branding .bg-move,
  .multiplataforma,
  .mobile {
    background-size: contain;
  }
}

@media (max-width: 525px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  .responsive-column-reverse {
    flex-direction: column-reverse;
  }

  .mt-100 {
    margin-top: 20px;
  }

  .main-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: none;
  }

  .multiplataforma .left-deco.black-deco {
    border-color: white;
  }

  .multiplataforma p.black {
    color: white;
  }

  .multiplataforma .line-deco-strong.black-line {
    background: white;
  }

  .owl-carousel .owl-stage-outer {
    min-height: auto;
    overflow: inherit;
  }

  .owl-carousel .owl-item img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  footer .left-deco {
    border: 0;
  }
}